@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar Styles */

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e4ebfa;
}

.dark ::-webkit-scrollbar-track {
    background: #20212c;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #828fa3;
    border-radius: 5px;
}

.dark ::-webkit-scrollbar-thumb {
    background: #3e3f4e;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
